html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Homebanner {
  background-image: url("https://mykaleidoscope.ru/en/uploads/posts/2022-09/1663775796_16-mykaleidoscope-ru-p-burger-on-a-black-background-yeda-oboi-18.jpg");
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.CartContainer {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}

.CartContainerInner {
  width: 100%;
  height: 70%;
  padding: 20px 10px;
  overflow-y: auto;
}

.default-row {
  margin-left: calc(-1 * var(--nextui-space-lg) / 2) !important;
  margin-right: calc(-1 * var(--nextui-space-lg) / 2) !important;
}

.checkout-side-area {
  --nextui-dropShadows-lg: drop-shadow(0 0px 7px rgb(104 112 118 / 0.15))
    drop-shadow(0 0px 7px rgb(104 112 118 / 0.1));
}

.checkout-side-area .cartHeader {
  box-shadow: none;
  display: flex;
  justify-content: center;
}

.checkout-side-area .CartContainer {
  box-shadow: none;
}

.checkout-side-area .cartHeader h3 {
  --nextui--buttonBorderRadius: 12px;
  padding-left: var(--nextui-space-9);
  padding-right: var(--nextui-space-9);
  min-width: min-content;
  background: var(--nextui-colors-primary);
  color: var(--nextui-colors-primarySolidContrast);
  line-height: var(--nextui-space-14);
  border-radius: var(--nextui--buttonBorderRadius);
  font-size: var(--nextui-fontSizes-sm);
  font-weight: 400;
}

.EmptyCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartHeader {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: "#fff";
  padding: 10px;
  z-index: 2;
}

.MenuContainer {
  height: 50px;
  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

.cartSummary {
  padding: 20px;
}

.nextui-modal .nextui-radio-container {
  width: 100% !important;
}

.nextui-modal .nextui-checkbox-text {
  width: 100% !important;
  justify-content: space-between !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
